@import "../../style/breakpoints.scss";
@import "../../style/variables.scss";
.forma {
  display: flex;
  flex-direction: column;

  &__input {
    width: 288px;
    height: 56px;
    padding: 16px;

    border: $border-input;

    box-sizing: border-box;
    border-radius: 16px;
  }
}

.forma__input:not(:last-child) {
  display: block;
  margin-bottom: 16px;
}

.valid {
  border-radius: 16px;
  border: $border-input-valid;
  box-sizing: border-box;
}

.err {
  border: $border-input-error;
  border-radius: 16px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.error {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;

  color: $label-color-error;
}
