@import '../../style/breakpoints.scss';

.forma{
    display: flex;
    flex-direction: column;

        

    &__input{
        padding: 16px;
        width: 288px;
        height: 56px;
       

        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 16px;
    }
    &__input:first-child{
        margin-bottom: 16px;
    }



}

.valid {
    border: 1px solid #4bcfa0;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .err {
    border: 1px solid #e43f3f;
    box-sizing: border-box;
    border-radius: 16px;
    // background-image: url(../../img//inputError.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  
  .error {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #e43f3f;
  }