@import "/src/Style/breakpoints.scss";
.section__card {
  padding-top: 120px;
}

.list {
  @media screen and (min-width: $tablet-general) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 0px;
  }
}
