@import '../../style/breakpoints.scss';

// .backdrop {
//     height: 100vh;
//     width: 100vw;
//     background-color: rgba(0, 0, 0, 0.4);
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 1;
//     z-index: 1000;
//     // pointer-events: none;
//     transition: 0.5s;
//     @media screen and (min-width: $tablet-general) {
//       opacity: 0;
//       pointer-events: none;
//     }
//   }
  
//   .backdrop.is__open {
//     opacity: 1;
//     background: #FFFFFF;
//     pointer-events: initial;
//   }
  
//   .modal {
//     position: relative;
//     opacity: 1;
//     // pointer-events: none;
//     transition: 0.5s;
//     background-color: #FFFFFF;
//     z-index: 2000;
//   }

//   .modal__content {
//     min-width: 150px;
//     min-height: 150px;
//   }
  
//   .modal.is__open {
//     opacity: 1;
//     pointer-events: initial;
//     background-color:  #FFFFFF;

//   }
  
  .modal__close__button {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    background-color: transparent;
    letter-spacing: 0.06em;
    line-height: 1.17;
    position: absolute;
    border: transparent;
    right: 10px;
    top: 9px;
    width: 40px;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal {
    transform: scale(0.95);
    transition: transform var(--animation-duration) var(--timing-function);
  }