@import "../../style/breakpoints.scss";
@import "../../style/variables.scss";
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;

  background-color: $overlay-background-color;
  opacity: 1;
}

.modal {
  position: relative;
  z-index: 2000;

  border-radius: 24px;

  background: $modal-background-color;

  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
  opacity: 1;
}

.modal__content {
  min-width: 150px;
  min-height: 150px;
}

.main__modal {
  padding: 50px 15px;

  text-align: center;

  @media screen and (min-width: $tablet-general) {
    padding: 50px;
  }
}
.card__category {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-text-color-dark;

  opacity: 0.5;
}

.card__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: $main-text-color-dark;
}
.card__price {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: $main-text-color-dark;
}
.price__mark {
  margin-right: 4px;
  margin-top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.16;
  letter-spacing: -0.02em;

  color: $main-text-color-dark;
}

.modal.is__open {
  opacity: 1;
  pointer-events: initial;
  background-color: $background-color;
}

.modal__close__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  top: -10px;
  right: -10px;

  border: transparent;
  border-radius: 50%;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.17;

  background-color: $modal-close-color;

  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: $tablet-general) {
    top: -15px;
    right: -15px;
  }
}

.close__icon {
  width: 20px;
  height: 20px;
}
