@import "./breakpoints.scss";

.container{
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width:$mobile-first){
      
        width:$mobile-first;
        margin:0 auto;
    }  

    @media screen and (min-width:$tablet-general){
      
        width: $tablet-general; 
    }
    
    
    @media screen and (min-width:$desktop-up){
      
        width: $desktop-up;
    }
    
    
}


