//global
$main-text-color-dark: #000000;
$background-color: #e5e5e5;

//card
$card-background-color: #ffffff;

//button
$border: 1px solid rgba(0, 0, 0, 0.1);
$color-button-green: #4bcfa0;
$color-button-white: #ffffff;

//forma
$border-input: 1px solid rgba(0, 0, 0, 0.2);
$border-input-valid: 1px solid #4bcfa0;
$border-input-error: 1px solid #e43f3f;
$label-color-error: #e43f3f;

//modal
$modal-background-color: #ffffff;
$overlay-background-color: rgba(0, 0, 0, 0.8);
$modal-close-color: F2F2F2;
