.block{
text-align: center;
padding-top: 64px;
padding-bottom: 124px;
}

.button__page{

    width: 235px;
    height: 60px;
    background: #50DAA8;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: #ffffff;

}